<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Detail</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">


</head>
<body>
    <header>
        <div class="logo">CarShop</div>
        <nav>
            <a href="index.html" th:href="@{/index}">Trang chủ</a>
            <a href="mailto:thanhdn.0306@gmail.com">Liên hệ</a>
            <a href="#" th:href="@{/}" title="Giỏ hàng">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <a href="#" th:href="@{/}" title="Thông tin tài khoản">
                <i class="fa-solid fa-user"></i>
            </a>

        </nav>
    </header>
    <section class="hero">
        <div>
            <h1>Khám Phá Những Mẫu Xe Mới</h1>
            <p>Tìm chiếc xe phù hợp với bạn</p>
        </div>
    </section>
    
    <main class="product-detail">

        <div class="detail-container">

            <div class="detail-image">
                <img th:src="@{/images/cars/{img}(img=${car.image})}"
                    alt="Car image"> 
            </div>

            <div class="detail-info">
                <h4 th:text="${car.name}">Tên xe</h4>

                <div class="detail-price"
                    th:text="${#numbers.formatDecimal(car.price,0,'COMMA',0,'POINT')} + ' đ'">
                    Giá
                </div>

                <ul class="car-specs">
                    <li>
                        <strong>Hãng:</strong> <span th:text="${car.brand}"></span>
                    </li>
                    <li>
                        <strong>Loại xe:</strong> <span th:text="${car.type}"></span>
                    </li>
                    <li>
                        <strong>Năm sản xuất:</strong> <span th:text="${car.year}"></span>
                    </li>
                    <li>
                        <strong>ODO:</strong> <span th:text="${car.odo}"></span>
                    </li>
                    <li>
                        <strong>Nhiên liệu:</strong> <span th:text="${car.fuel}"></span>
                    </li>
                    <li>
                        <strong>Hộp số:</strong> <span th:text="${car.gearbox}"></span>
                    </li>
                </ul>

                <div class="detail-actions">
                    <a href="#" th:href="@{/}" class ="btn">Mua ngay</a>

                    <a href="#" th:href="@{/}" class="btn">
                        <i class="fa-solid fa-cart-plus"></i>
                        Thêm giỏ hàng
                    </a>
                </div>
            </div>

        </div>

        <section class="related-products">
            <h2>Có thể bạn sẽ thích</h2>

                <div class="product-grid">
                    <div class="card" th:each="item : ${relatedCars}">

                    <img th:src="@{/images/cars/{img}(img=${item.image})}"
                        alt="Car image"> 

                    <div class="info">
                        <h4 th:text="${item.name}">Tên xe</h4>

                        <div class="price"
                            th:text="${#numbers.formatDecimal(item.price,0,'COMMA',0,'POINT')} + ' đ'">
                            Giá
                        </div>
                        <a href="product_detail.html" th:href="@{/product_detail}" class = "btn">
                            Xem chi tiết
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        © 2026 CarShop |
        <a href="https://www.facebook.com/HocvienPTIT" target="_blank">
            <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="https://instagram.com" target="_blank">
            <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="https://tiktok.com" target="_blank">
            <i class="fab fa-tiktok fa-lg"></i>
        </a>
    </footer>
</body>
</html>