<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Car Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/cart.css" th:href="@{/css/cart.css}">
    <link rel="stylesheet" th:href="@{/css/ChatAI.css}">


</head>

<body>
<header>
    <div class="logo">CarShop</div>
    <nav>
        <a href="#">Trang chủ</a>
        <a th:href="@{/customer-view}">Bán xe</a>
        <a th:href="@{/warranty}">Bảo hành</a>
        <a th:href="@{/my-cars}">Xe đã mua</a>
        <a th:if="${#authentication.name == 'anonymousUser'}"
         th:href="@{/login}">
            Đăng nhập
        </a>
        <a th:if="${#authentication.name != 'anonymousUser'}"
        href="/logout">
           Đăng xuất
        </a>
    </nav>
    <div id="welcome-message"
        th:if="${session.justLoggedIn}"
        class="welcome-message">
     
        Xin chào <span th:text="${fullName}"></span> 👋
    </div>
    
</header>

    <section class="hero">
        <div>
            <h1>Khám Phá Những Mẫu Xe Mới</h1>
            <p>Tìm chiếc xe phù hợp với bạn</p>
        </div>
    </section>
    <div th:if="${#authentication.name == 'anonymousUser'}"
     class="login-suggestion">

        <p>Hãy đăng nhập để có trải nghiệm tốt nhất 🚀</p>
    
        <a href="/login" class="login-btn">Đăng nhập ngay</a>
    </div>

    <form class="search-box">
        <input list="type-options" name="type" placeholder="Loại xe ....">
        <datalist id="type-options">
            <option value="Sedan"></option>
            <option value="SUV"></option>
            <option value="MPV"></option>
            <option value="Coupe"></option>
            <option value="Pickup"></option>
        </datalist>

        <input list="brand-options" name="brand" placeholder="Hãng xe...">
        <datalist id="brand-options">
            <option value="Toyota"></option>
            <option value="BMW"></option>
            <option value="VinFast"></option>
            <option value="Ford"></option>
            <option value="Mercedes-Benz"></option>
        </datalist>

        <input type="number" name="year" placeholder="Năm sản xuất" step="1">


        <select name="price">
            <option value="">Khoảng giá</option>
            <option value="0-100000000">Dưới 100 triệu</option>
            <option value="100000000-200000000">100 - 200 triệu</option>
            <option value="200000000-500000000">200 - 500 triệu</option>
            <option value="500000000-1000000000">500 triệu - 1 tỷ</option>
            <option value="1000000000-2000000000">1 - 2 tỷ</option>
            <option value="2000000000-5000000000">2 - 5 tỷ</option>
            <option value="5000000000-10000000000">5 - 10 tỷ</option>
            <option value="10000000000-99000000000">Trên 10 tỷ</option>
        </select>

        <button type="submit">Tìm kiếm</button>
    </form>

    
    <section id="cars" class="products">
        <h2>Danh sách xe đang bán</h2>

        <div id="car-list" class="product-grid"> </div>
    </section>

    <script src="../static/js/cart.js" th:src="@{/js/cart.js}"></script>


<div class="floating-container">
    <a href="tel:096688888" class="floating-item phone-icon">
        <i class="fa fa-phone"></i>
    </a>

    <a href="https://zalo.me/096688888" target="_blank" class="floating-item zalo-icon">
        <i class="fa fa-comment"></i>
    </a>

    <div class="floating-item chat-ai-icon" onclick="toggleChat()">
        <i class="fas fa-comments"></i>
    </div>
</div>

<script th:src="@{/js/chatbot-init.js}"></script>

<footer class="site-footer">
    <div class="footer-container">

        <div class="footer-col">
            <h3>CarShop</h3>
            <p>
                Nền tảng mua bán xe uy tín,  
                mang đến những mẫu xe chất lượng  
                và trải nghiệm mua sắm an toàn.
            </p>
        </div>

        <div class="footer-col">
            <h4>Liên kết</h4>
            <ul>
                <li><a th:href="@{/index}">Trang chủ</a></li>
                <li><a href="#">Xe mới</a></li>
                <li><a href="#">Giỏ hàng</a></li>
                <li><a href="#">Tài khoản</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>Liên hệ</h4>
            <p>Email: <a href="mailto:thanhdn.0306@gmail.com">thanhdn.0306@gmail.com</a></p>
            <p>Hotline: 0999 999 999</p>
        </div>

        <div class="footer-col">
            <h4>Theo dõi chúng tôi</h4>
            <div class="social-icons">
                <a href="https://www.facebook.com/HocvienPTIT" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https://tiktok.com"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 CarShop. All rights reserved.
    </div>
</footer>
<script th:src="@{/js/car_list.js}"></script>
<script th:src="@{/js/welcome.js}"></script>
</body>

</html>