<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bảo Hành | CarShop</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <header>
            <div class ="logo">CarShop</div>
            <nav>
                <a th:href="@{/index}">Trang Chủ</a>
                <a href="mailto:thanhdn.0306@gmail.com">Liên hệ</a>
            </nav>
        </header>
        <section class="hero">
            <div>
                <h1>Khám Phá Những Chiếc Xe Của Bạn</h1>
                <p>Tìm những chiếc xe phù hợp với bạn</p>
            </div>
        </section>
        <section class="warrenty_section">
            <div class="warrenty_container">
                <h2>Dịch vụ bảo hành</h2>
                <div class="warrenty-box">
                    <input type="hidden" id="car_id" name="car_id" th:value="${carId}">
                    <h3>Thông tin xe</h3>
                    <label>Tên xe</label>
                    <input type="text" id="name_car" name="name_car" placeholder="Tên xe " th:value="${carModel}" readonly>
                    <div class="row-2">
                        <div>
                            <label>Hãng xe</label>
                            <input type="text" id="branch_car" name="branch_car" placeholder=" Nhập hãng xe" th:value="${carBrand}" readonly>
                        </div>
                        <div>
                            <label>Năm sản xuất</label>
                            <input type="number" id="year_car" name="year_car" placeholder="Nhập năm sản xuất" th:value="${carYear}" readonly>
                        </div>
                    </div>
                    <h3>Địa chỉ</h3>
                    <label>Địa chỉ cụ thể</label>
                    <input type ="text" id="street" name="street" placeholder="Số nhà , tên đường,...">
                    <div class="row-2"> 
                        <div>
                            <label>Xã/Phường</label>
                            <input type="text" id="ward" name="ward" placeholder="Nhập xã/phường">
                        </div>
                        <div>
                            <label>Tỉnh/Thành phố</label>
                            <input type="text" id="city" name="city" placeholder="Nhập tỉnh/thành phố">
                        </div>
                    </div>
                    <label>Số Điện Thoại Liên Hệ</label>
                    <input type="text" id="phone" name="phone" placeholder="Nhập số điện thoại">
                    <label>Lỗi xe đang gặp phải</label>
                    <input type="text" id="err_car" name="err_car" placeholder="Nhập lỗi của xe">
                </div>
            </div>
        </section>
        <button id="submit-warranty-btn" class="payment-btn" >
            Gửi yêu cầu
        </button>
        <footer class="site-footer">
            <div class="footer-container">
                <div class="footer-col">
                    <h3>CarShop</h3>
                    <p>
                        Nền tảng mua bán uy tín,
                        mang đến những mẫu xe chất lượng
                        và trải nhiệm mua sắm an toàn.
                    </p>
                </div>
                <div class="footer-col">
                    <h4>Liên kết</h4>
                    <ul>
                        <li><a th:href="@{/index}">Trang chủ</a></li>
                        <li><a href="#">Giỏ hàng</a></li>
                        <li><a href="#">Bảo hành</a></li>
                        <li><a href="#">Tài khoản</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Liên hệ</h4>
                    <p>Email : <a href="mailto:thanhdn.0306@gmail.com">thanhdn.0306@gmail.com</a></p>
                    <p>Hotline <a href="phoneto:0123456789">0123456789</a></p>
                </div>
                <div class="footer-col">
                    <h4>Theo dõi chúng tôi</h4>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/HocvienPTIT" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://instagram.com"><i class="fab-fa-instagram"></i></a>
                        <a href="https://tiktok.com"><i class="fab-fa-tiktok"></i></a>
                    </div>
                </div>
                <div class="footer-bottom">
                     © 2026 CarShop. All rights reserved.
                </div>
            </div>
        </footer>
        <script th:src="@{/js/warranty.js}"></script>
    </body>
</html>